app/Plugin/Admin/webroot/app/Menu/index.html
<div class="page-header"><h3>Menus</h3></div><div class="row"><div class="col-md-12"><div class="btn-group"><a ng-click="changeToSup()" ng-class="{'btn-default':men_tipo=='v','btn-primary':men_tipo=='h'}" class="btn btn-default">Superior</a><a ng-click="changeToInf()" ng-class="{'btn-default':men_tipo=='h','btn-primary':men_tipo=='v'}" class="btn btn-default">Inferior</a></div></div></div><br/><div ng-include="'/admin/app/Menu/form.html'" ng-if="addEditMenu"></div><div ng-if="!addEditMenu" class="row"><div class="col-md-4"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Primeiro Nível</h3></div><div ng-if="loading[1]" class="panel-body"><div ng-include="'/admin/app/common/loading.html'"></div></div><div ng-if="norecords[1]" class="panel-body"><div ng-include="'/admin/app/common/norecords.html'"></div></div><table ng-if="!loading[1] &amp;&amp; !norecords[1] &amp;&amp; Menus[1]" class="table"><tr><th>&nbsp;</th><th>Título</th></tr><tr ng-repeat="item in Menus[1]"><td class="col-md-6"><div ng-if="!item.Menu.men_fixo" class="btn-group"><button ng-click="editLevelX(item, 1)" tooltip="Editar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button><button ng-click="deleteMenu(item, 1)" tooltip="Excluir" ng-class="{disabled:item.Submenu1.length&gt;0}" class="btn btn-default btn-xs">{{item.Menu.Submenu1.length}}<i class="glyphicon glyphicon-trash"></i></button><button ng-click="goLevel2(item)" tooltip="Segundo Nível" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button></div>&nbsp;<div ng-if="!selecionaPai1Flag" class="btn-group"><button ng-click="orderMenu(item,1,'up')" ng-class="{disabled:$first}" tooltip="Subir" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default btn-xs disabled">{{$index+1}}</button><button ng-click="orderMenu(item,1,'down')" ng-class="{disabled:$last}" tooltip="Descer" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></button></div><div ng-if="selecionaPai1Flag &amp;&amp; selecionaPai1Id != item.Menu.men_id" class="btn-group"><button ng-click="selecionaPaiDest(item)" tooltip="Selecionar como Pai" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-ok"></i></button><button ng-click="goLevel2Cancel()" tooltip="Cancelar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-remove"></i></button></div></td><td> <a ng-click="loadLevelX(item, 2)" class="pointer">{{item.Menu.men_titulo}}</a></td></tr></table><div ng-if="Menus[1]" class="panel-footer"><button ng-click="addLevelX(1)" tooltip="Novo Menu" class="btn btn-default">Novo</button><button ng-click="saveOrderMenu(1)" class="btn btn-primary pull-right">Salvar</button></div></div></div><div class="col-md-4"><div class="panel panel-success"><div class="panel-heading"><h3 class="panel-title">Segundo Nível {{textoNivel[2]}}</h3></div><div ng-if="loading[2] &amp;&amp; !norecords[2]" class="panel-body"><div ng-include="'/admin/app/common/loading.html'"></div></div><div ng-if="!loading[2] &amp;&amp; norecords[2]" class="panel-body"><div ng-include="'/admin/app/common/norecords.html'"></div></div><div ng-if="!Menus[2] &amp;&amp; !loading[2] &amp;&amp; !norecords[2]" class="panel-body"><div>Escolha um menu de Primeiro Nível</div></div><table ng-if="!loading[2] &amp;&amp; !norecords[2] &amp;&amp; Menus[2]" class="table"><tr><th>&nbsp;</th><th>Posição</th><th>Título</th></tr><tr ng-repeat="item in Menus[2]"><td class="col-md-4"><div class="btn-group"><button ng-click="editLevelX(item, 2)" tooltip="Editar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button><button ng-click="deleteMenu(item, 2)" tooltip="Excluir" ng-class="{disabled:item.Submenu1.length&gt;0}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button><button ng-click="goLevel1(item)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-left"></i></button><button ng-click="goLevel2(item)" ng-if="item.Submenu1.length==0" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-right"></i></button></div></td><td class="col-md-3"><div class="btn-group"><button ng-class="{disabled:$first}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default btn-xs disabled">{{$index+1}}</button><button ng-class="{disabled:$last}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></button></div></td><td> <a ng-click="loadLevelX(item, 3)" class="pointer">{{item.Menu.men_titulo}}</a></td></tr></table><div ng-if="Menus[2]" class="panel-footer"><button ng-click="addLevelX(2)" tooltip="Novo Menu" class="btn btn-default">Novo</button><button ng-click="saveOrderMenu(2)" class="btn btn-primary pull-right">Salvar	</button></div></div></div><div class="col-md-4"><div class="panel panel-warning"><div class="panel-heading"><h3 class="panel-title">Terceiro Nível {{textoNivel[3]}}</h3></div><div ng-if="loading[3] &amp;&amp; !norecords[3]" class="panel-body"><div ng-include="'/admin/app/common/loading.html'"></div></div><div ng-if="!loading[3] &amp;&amp; norecords[3]" class="panel-body"><div ng-include="'/admin/app/common/norecords.html'"></div></div><div ng-if="!Menus[3] &amp;&amp; !loading[3] &amp;&amp; !norecords[3]" class="panel-body"><div>Escolha um menu de Segundo Nível</div></div><table ng-if="!loading[3] &amp;&amp; !norecords[3] &amp;&amp; Menus[3]" class="table"><tr><th>&nbsp;</th><th>Posição</th><th>Título</th></tr><tr ng-repeat="item in Menus[3]"><td class="col-md-3"><div class="btn-group"><button ng-click="editLevelX(item, 3)" tooltip="Editar" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button><button ng-click="deleteMenu(item, 3)" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-trash"></i></button><button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-left"></i></button></div></td><td class="col-md-3"><div class="btn-group"><button ng-class="{disabled:$first}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default btn-xs disabled">{{$index+1}}</button><button ng-class="{disabled:$last}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-chevron-down"></i></button></div></td><td>{{item.Menu.men_titulo}}</td></tr></table><div ng-if="Menus[3]" class="panel-footer"><button ng-click="addLevel3()" class="btn btn-default">Novo</button><button ng-click="saveOrderMenu(3)" class="btn btn-primary pull-right">Salvar</button></div></div></div></div>

app/Plugin/Admin/webroot/app/Menu/index.jade
.page-header
	h3 Menus
.row
	.col-md-12
		.btn-group
			a.btn.btn-default(ng-click="changeToSup()",ng-class="{'btn-default':men_tipo=='v','btn-primary':men_tipo=='h'}") Superior
			a.btn.btn-default(ng-click="changeToInf()",ng-class="{'btn-default':men_tipo=='h','btn-primary':men_tipo=='v'}") Inferior
br
div(ng-include="'/admin/app/Menu/form.html'", ng-if="addEditMenu")
.row(ng-if="!addEditMenu")
	.col-md-4
		.panel.panel-primary
			.panel-heading
				h3.panel-title Primeiro Nível
			.panel-body(ng-if="loading[1]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords[1]")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading[1] && !norecords[1] && Menus[1]")
				tr
					th &nbsp;
					th Título
				tr(ng-repeat="item in Menus[1]")
					td.col-md-6
						.btn-group(ng-if="!item.Menu.men_fixo")
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 1)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 1)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}") {{item.Menu.Submenu1.length}}
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="goLevel2(item)",tooltip="Segundo Nível")
								i.glyphicon.glyphicon-chevron-right
						| &nbsp;
						.btn-group(ng-if="!selecionaPai1Flag")
							button.btn.btn-default.btn-xs(ng-click="orderMenu(item,1,'up')",ng-class="{disabled:$first}",tooltip="Subir")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-click="orderMenu(item,1,'down')",ng-class="{disabled:$last}",tooltip="Descer")
									i.glyphicon.glyphicon-chevron-down
						.btn-group(ng-if="selecionaPai1Flag && selecionaPai1Id != item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="selecionaPaiDest(item)",tooltip="Selecionar como Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="goLevel2Cancel()",tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
					td 
						a.pointer(ng-click="loadLevelX(item, 2)") {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[1]")
				button.btn.btn-default(ng-click="addLevelX(1)",tooltip="Novo Menu") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(1)") Salvar
	.col-md-4
		.panel.panel-success
			.panel-heading
				h3.panel-title Segundo Nível {{textoNivel[2]}}
			.panel-body(ng-if="loading[2] && !norecords[2]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="!loading[2] && norecords[2]")
				div(ng-include="'/admin/app/common/norecords.html'")
			.panel-body(ng-if="!Menus[2] && !loading[2] && !norecords[2]")
				div Escolha um menu de Primeiro Nível
			table.table(ng-if="!loading[2] && !norecords[2] && Menus[2]")
				tr
					th &nbsp;
					th Posição
					th Título
				tr(ng-repeat="item in Menus[2]")
					td.col-md-4
						.btn-group
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 2)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 2)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="goLevel1(item)")
								i.glyphicon.glyphicon-chevron-left
							button.btn.btn-default.btn-xs(ng-click="goLevel2(item)",ng-if="item.Submenu1.length==0")
								i.glyphicon.glyphicon-chevron-right
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-class="{disabled:$first}")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-class="{disabled:$last}")
									i.glyphicon.glyphicon-chevron-down
					td 
						a.pointer(ng-click="loadLevelX(item, 3)") {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[2]")
				button.btn.btn-default(ng-click="addLevelX(2)",tooltip="Novo Menu") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(2)") Salvar	
	.col-md-4
		.panel.panel-warning
			.panel-heading
				h3.panel-title Terceiro Nível {{textoNivel[3]}}
			.panel-body(ng-if="loading[3] && !norecords[3]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="!loading[3] && norecords[3]")
				div(ng-include="'/admin/app/common/norecords.html'")
			.panel-body(ng-if="!Menus[3] && !loading[3] && !norecords[3]")
				div Escolha um menu de Segundo Nível
			table.table(ng-if="!loading[3] && !norecords[3] && Menus[3]")
				tr
					th &nbsp;
					th Posição
					th Título
				tr(ng-repeat="item in Menus[3]")
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 3)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 3)")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs
								i.glyphicon.glyphicon-chevron-left
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-class="{disabled:$first}")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-class="{disabled:$last}")
									i.glyphicon.glyphicon-chevron-down
					td {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[3]")
				button.btn.btn-default(ng-click="addLevel3()") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(3)") Salvar
